<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="header">NAVEGAÇÃO PRINCIPAL</li>
        <li>
            <a ui-sref="dashboard">
                <i class="fa fa-dashboard"></i> <span>Página Inicial</span>
            </a>
        </li>

        <li class="treeview">
            <a href>
                <i class="fa fa-edit"></i> <span>Cadastros</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a ui-sref="billingCycles"><i class="fa fa-usd"></i>Pagamentos</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href>
                <i class="fa fa-home"></i> <span>Grupo Hinode</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="https://escritorio08.hinode.com.br/login" target="_blank">
                        <i class="fa fa-book"></i> <span>Escritório Virtual</span>
                    </a>
                </li>
                <li>
                    <a href="https://online.hinode.com.br/index.asp?id=06086440" target="_blank">
                        <i class="fa fa-shopping-cart"></i> <span>Loja Virtual</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href>
                <i class="fa fa-money"></i> <span>Inst. Bancárias</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="https://escritorio08.hinode.com.br/login" target="_blank">
                        <i class="fa fa-bank"></i> <span>Banco Itau</span>
                    </a>
                </li>
                <li>
                    <a href="https://banco.bradesco/html/classic/index.shtm" target="_blank">
                        <i class="fa fa-bank"></i> <span>Banco Bradesco</span>
                    </a>
                </li>
                <li>
                    <a href="https://pagseguro.uol.com.br" target="_blank">
                        <i class="fa fa-bank"></i> <span>Pague Seguro</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="header">TECNOLOGIAS</li>
        <li>
            <a href="https://www.mongodb.com" target="_blank">
                <i class="fa fa-circle-o text-red"></i> <span>MongoDB</span>
            </a>
        </li>
        <li>
            <a href="http://expressjs.com" target="_blank">
                <i class="fa fa-circle-o text-yellow"></i> <span>Express</span>
            </a>
        </li>
        <li>
            <a href="https://angularjs.org" target="_blank">
                <i class="fa fa-circle-o text-aqua"></i> <span>Angular</span>
            </a>
        </li>
        <li>
            <a href="https://nodejs.org" target="_blank">
                <i class="fa fa-circle-o text-green"></i> <span>Node</span>
            </a>
        </li>
    </ul>
</section>